source ~/.config/vim/globals.vim

" Plugins
set surround
set commentary

nmap <C-o> <Action>(Back)
nmap <C-i> <Action>(Forward)
nmap <C-p> <Action>(GotoFile)
nmap <space>/ <Action>(FindInPath)
nmap ]c <Action>(VcsShowNextChangeMarker)
nmap [c <Action>(VcsShowPrevChangeMarker)

